.first-session{
position: relative;




}

.pix{
position: absolute;
right: 20px;
top:0;
margin-bottom: 20px;
border-radius: 100%;


}
h1{
  font-size: 2rem;
  font-family: sans-serif;
}
h5{
  font-size: 0.8rem;
}
hr {
margin-top: 50px;

}
p{
  margin-left: 200px;
  width: 70%;
  line-height: 30px;
  font-family: sans-serif;

}
+h4{
  margin-top: 40px;
  margin-bottom: 10px;
  font-family:sans-serif;
  color: blue;
}
ul{
  position: absolute;
  right: 0;
  bottom: 0;

}
ul li{
display: inline;
margin: 9px 2px 2px 2px;
font-size: 12px;
}

a{
  text-decoration:none;

}
a:hover{
  color: red;
}
.news{
  position: relative;
}
.new{
  position: absolute;
  display: inline-block;
  right:0 ;
  top:40px;
  padding-top: 0;
  margin-top : 0 ;
  width: 100%;


}

.new-wis{
  position: absolute;
  display: inline-block;
  right: 0;
  top:0;
  padding-top: 0;
  margin-top : 0 ;
  width: 100%;

}
.footer{
  background-color: black;
  padding: 40px;
}
.mail{
  text-align: center;
}

.yellow{
  color: yellow;
}
